    
    h3{
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(59, 92, 9);
        text-align: center;
        padding-top: 30px;

    }
    
    .grid { 
    width: 90%; 
    height: 100px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px auto;
    } 
    
    .grid img { 
    margin: 2px; 
    transform-style: preserve-3d; 
    transition: transform 0.5s; 
    } 
    
    .grid img.flip { 
    transform: rotateY(180deg); 
    } 
    
    .popup { 
    background: rgb(202, 34, 188); 
    width: 100px; 
    height: 100px; 
    z-index:20;
    position: fixed; 
    top: 100px;
    left: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    }
    
    .data { 
    display: flex; 
    justify-content: space-between; 
    padding: 20px 30px; 
    font-size: 23px; 
    } 
    
    .data span { 
    color: rgb(114, 31, 153);
    font-size: 30px; 
    }